.header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.header-rigth {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .option {
    margin-left: 50px;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
