.header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.header-rigth {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .option {
    margin-left: 50px;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.cart-icon-container {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-left: 20px;
  position: relative;
  width: 40px;

  .cart-icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  .counter {
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    width: 16px;
    height: 16px;
    bottom: 9px;
    left: 20px;
  }
}
