.collection {
  margin-bottom: 20px;
  h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .main-title {
    text-align: center;
  }
}

.collection-items {
  margin-top: 10px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 70px;
}
