* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.5;
  font-size: 2.4rem;
  letter-spacing: 0.8px;
  color: #000000;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #4f4e4f;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.container {
  padding: 20px 60px;
}

.uppercase {
  text-transform: uppercase;
}
