.btn {
  border: none;
  font-family: 'Open Sans Condensed';
  font-size: 1.6rem;
  font-weight: bolder;
  height: 50px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;

  &.black {
    background: #000;
    color: #fff;
    &:hover {
      color: #000;
      background: #fff;
    }
  }

  &.white {
    color: #000;
    background: #fff;
    &:hover {
      color: #fff;
      background: #000;
    }
  }
}
